<!doctype HTML>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<h1>Choose music for your moods!</h1>
		<!-- enter button -->
		<form action="/picksong" method="POST"> 

		<% @moods_arr.each do |t| %>
			<input type="radio" name="mood" value="<%= t %>"> <span class="mood"><%= t %></span> <br>
		<% end %>
		<input type="submit">
		</form>
	</body>
</html>