<!doctype HTML>
<html lang="en">
	<head> </head>
	<body>
		<h1>Choose music for your moods!</h1>
		<!-- checkbox mood list
		enter button -->
		
		<% @moods_arr.each do |t| %>
		
		<%= t %> <br>
		
		<% end %>
	
	</body>
</html>