<!doctype HTML>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<h3 id="names" >Made by: Erin, Priya, Ethan and Mac!</h3>
		<h1>Choose music for your moods!</h1>


		<div class="form-wrapper">
		<form action="/picksong" method="POST">


		<% @moods_arr.each do |t| %>
			<input type="radio" name="mood" value="<%= t %>"> <span class="mood"><%= t %></span> <br>
		<% end %>
		<button type="submit" id="submit">submit</button>
		</form>
	</div>
	</body>
</html>