<!doctype HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<h1>Choose music for your moods!</h1>

		<% song = @songs[rand(@songs.size - 1)] %>

		<div id="videowrap"> 
		<button onclick="window.location.href='/'">CHANGE MOOD</button>

		<form>
			<input id="submit" type=button value="Refresh" onClick="window.location.reload()">
		</form>

		<p><%= song.name %> by <%= song.artist %><p>
		<iframe id="video" src= "<%= song.youtube_link %>" >
		</iframe>
		</div>
	</body>
</html>
