<!doctype HTML>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/main.css">
	</head>
	<body>
		<h1>Choose music for your moods!</h1>
		<video controls>
			<source src= "<% @song.youtube_link %>" >
			<%= @song.name %> by <%= @song.artist %>
		</video>
	</body>
</html>