@import url(http://fonts.googleapis.com/css?family=Raleway:600);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
h1 {
	color: #1F135C;
	font-family: 'Raleway', sans-serif;
	font-size: 80px;
	text-align: center;
}

.mood {
	color: #5DA2E8;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

#submit {
	width: 10%;
	height: 3em;
	border-radius: 35px;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

.form-wrapper {
	margin-left: 35%;
}