@import url(http://fonts.googleapis.com/css?family=Raleway:600);
@import url(http://fonts.googleapis.com/css?family=Raleway:300);
h1 {
	color: #1F135C;
	font-family: 'Raleway', sans-serif;
}

.mood {
	color: #5DA2E8;
	font-family: 'Raleway', sans-serif;
}